.contactASide{
    background-color: var(--bg-header);
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 25vw;
    padding: 20px;
    margin-left: 2px;
    border-radius: 25px;
    color: white;   
}
.contactASide li{
    list-style:  none;
    margin: 15px ;
    font-size: large;
}
@media screen and (max-width: 767px){
    .profilPicture{
    width: 120px ;
    height: 120px;
    }
    .headerBanner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    gap:35px
    }
    .header button{
    margin-bottom: 15px;
}
}
    
