.contactASide{
    background-color: var(--bg-header);
    display: flex;
    flex-direction: column;
   
    width: 25rem;
    padding: 20px;
    margin-left: 2px;
    border-radius: 25px;
    color: white;   
}
.contactASide li{
    list-style:  none;
    margin: 15px ;
    font-size: large;
}
.devList li{
    display: flex;
    align-items: center;
    gap: 5px
}
.devList img{
    width: 30px;
    height: 30px;
}
@media screen and (max-width: 767px){
    .contactASide{
        width: 8rem;
    }
    .contactASide h2{
        font-size: medium;
    }
    .contactASide li{
        font-size: small;
        margin: 10px 0;
    }
    .devList img{
    width: 20px;
    height: 20px;
}
   
}

    
