.mainSide{
    padding: 10px;
    flex: 1.5;
    display: flex;
    flex-direction: column;
    gap:40px;
    margin-top: 20px;
    margin-left: 15px; 
    
}
.mainSide h2{
    margin-bottom: 15px;
    text-decoration: underline;
}

.block{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid rgb(171, 168, 168);
    border-radius: 25px;
    box-shadow: 5px 5px 10px rgb(163, 162, 162) ;
    overflow-y: auto;
    max-height: 250px;
    max-width: 1000px;
    margin: auto;
    font-size: x-large;
}
.blockProjet{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid rgb(171, 168, 168);
    border-radius: 25px;
    box-shadow: 5px 5px 10px rgb(163, 162, 162) ;
    overflow-y: auto;
    max-height: 275px;
    max-width: 1000px;
    margin: auto;
    font-size: x-large;
}
.block ul{
    border-bottom: 1px solid black;
    padding-bottom: 15px;
}

.mainSide li{
    list-style: none;
    margin-top: 5px;
}
.list{
    margin-left: 15px;
    margin-top: 5px;
}
.projet{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
.project{
    display: flex;
    align-items: center;
    gap: 20px;
}
span{
    text-decoration: underline;
}
@media screen and (min-width: 768px) {
    .projet{
        width: 175px;
        height: 175px;
    }
}
@media screen and (max-width: 768px) {
   .block{
    max-width: 300px;
   }
   .blockProjet{
    max-width: 300px;
   }
   .project{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
}